<div class="container-fluid">
  <nav class="navbar navbar-expand-lg bg-light navbar-light shadow py-0">
    <div class="navbar-brand">
      <a routerLink="/home"><img src="../../../assets/logo.png" width="60px" height="60px" alt="logo"><span>Pitbull
          Paradise</span></a>
    </div>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
      aria-controls="navbarSupportedContent" [attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation">
      <span>
        <i class="fas fa-bars"></i>
      </span>
    </button>
    <div [ngbCollapse]="isCollapsed" class="collapse navbar-collapse" id="collapsible">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li ngbDropdown class="nav-item">
          <button (click)="!subMenu0 ? true : false" class="nav-link btn btn-menu-toggle" ngbDropdownToggle>
            Adopt
          </button>
          <div ngbDropdownMenu [ngClass]="!subMenu0 ? 'animate slideIn' : ''">
            <ul>
              <li><a ngbDropdownItem routerLink="/search">Find a Dog</a></li>
              <li><a ngbDropdownItem routerLink="/home">Adoption Process</a></li>
            </ul>
          </div>
        </li>
        <li ngbDropdown class="nav-item">
          <button (click)="!subMenu1 ? true : false" class="nav-link btn btn-menu-toggle" ngbDropdownToggle>
            Volunteer
          </button>
          <div ngbDropdownMenu [ngClass]="!subMenu1 ? 'animate slideIn' : ''">
            <ul>
              <li><a ngbDropdownItem routerLink="#">Volunteer Application</a></li>
            </ul>
          </div>
        </li>
        <li ngbDropdown class="nav-item">
          <button (click)="!subMenu2 ? true : false" class="nav-link btn btn-menu-toggle" ngbDropdownToggle>
            Resources
          </button>
          <div ngbDropdownMenu [ngClass]="!subMenu2 ? 'animate slideIn' : ''">
            <ul>
              <li><a ngbDropdownItem routerLink='/'>Basic Breed Overview</a></li>
              <li><a ngbDropdownItem routerLink='/'>LEO Programs</a></li>
              <li><a ngbDropdownItem routerLink='/'>Training</a></li>
              <li><a ngbDropdownItem routerLink='/'>Surrender a Pet</a></li>
              <li><a ngbDropdownItem routerLink='/'>Crate and Rotate</a></li>
              <li><a ngbDropdownItem routerLink='/'>Break Stick</a></li>
              <li><a ngbDropdownItem routerLink='/'>Breed Specific Legislation</a></li>
            </ul>
          </div>
        </li>
        <li ngbDropdown class="nav-item">
          <button (click)="!subMenu3 ? true : false" class="nav-link btn btn-menu-toggle" ngbDropdownToggle>
            About Us
          </button>
          <div ngbDropdownMenu [ngClass]="!subMenu3 ? 'animate slideIn' : ''">
            <ul>
              <li><a ngbDropdownItem routerLink='/'>Shelter Statistics</a></li>
              <li><a ngbDropdownItem routerLink='/'>In the News</a></li>
              <li><a ngbDropdownItem routerLink='/'>Financial Information</a></li>
              <li><a ngbDropdownItem routerLink='/'>Employment Opportunities</a></li>
            </ul>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link shadow btn btn-custom my-2" routerLink='/'>Donate</a>
        </li>
      </ul>
    </div>
  </nav>
</div>