a {
    color: #4b8b7c !important;
    text-decoration: none;
}

.btn-custom {
    color: #f6f8f9 !important;
}

ul {
        li {
        list-style: none;
        margin: 0;
        padding: 0;
            a:hover, 
            button:hover {
                color: #e9914a !important;
                border: 2px solid #4b8b7c;
                border-radius: 4px;
            }
    }
}
.dropdown-item:focus {
    background-color: #f6f8f9;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}
.dropdown-menu {
    background-color: #f6f8f9 !important;
}

.navbar {
    border-bottom: 2px solid #d8d7d7 !important;
}

.navbar-toggler {
    background-color: transparent !important;
    border: 0 !important;
    color: #4b8b7c !important;
}
.navbar-toggler:hover {
    border: 2px solid #4b8b7c !important;
    i {
        color: #9ac8b3 !important;
    }
}
.navbar-toggler:active, .navbar-toggler:focus {
    outline: none !important;
    box-shadow: none;
}

//menu animator
//
.animate {
    animation-duration: .3s; /* vendorless fallback */
    -o-animation-duration: .3s;   /* opera */
    -ms-animation-duration: .3s; /* IE 10 */
    -moz-animation-duration: .3s; /* Firefox */
    -webkit-animation-duration: .3s; /*safari and chrome */

    animation-fill-mode: both; /* vendorless fallback */
    -o-animation-fill-mode: both; /* opera */
    -ms-animation-fill-mode: both; /* IE 10 */
    -moz-animation-fill-mode: both; /* Firefox */
    -webkit-animation-fill-mode: both; /*safari and chrome */
}
//menu slider keyframes
//
@keyframes slideIn {
    0% {
        transform:translateY(-1rem);
        opacity: 0;
    }
    100% {
        transform:translateY(0rem);
        opacity: 1;
    }
    0% {
        transform:translateY(-1rem);
        opacity: 0;
    }
}

@-moz-keyframes slideIn {
    0% {
        transform:translateY(-1rem);
        opacity: 0;
    }
    100% {
        transform:translateY(0rem);
        opacity: 1;
    }
    0% {
        transform:translateY(-1rem);
        opacity: 0;
    }
}

@-webkit-keyframes slideIn {
    0% {
        transform:translateY(-1rem);
        opacity: 0;
    }
    100% {
        transform:translateY(0rem);
        opacity: 1;
    }
    0% {
        transform:translateY(-1rem);
        opacity: 0;
    }
}

@-o-keyframes slideIn {
    0% {
        transform:translateY(-1rem);
        opacity: 0;
    }
    100% {
        transform:translateY(0rem);
        opacity: 1;
    }
    0% {
        transform:translateY(-1rem);
        opacity: 0;
    }
}

@-ms-keyframes slideIn {
    0% {
        transform:translateY(-1rem);
        opacity: 0;
    }
    100% {
        transform:translateY(0rem);
        opacity: 1;
    }
    0% {
        transform:translateY(-1rem);
        opacity: 0;
    }
}

.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}


//menu fader keyframes
//
@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    0% {
        opacity: 0;
    }
}

@-moz-keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    0% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    0% {
        opacity: 0;
    }
}

@-o-keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    0% {
        opacity: 0;
    }
}

@-ms-keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    0% {
        opacity: 0;
    }
}

.fadeInOut {
    -webkit-animation-name: fadeInOut;
    animation-name: fadeInOut;
}

//menu fly in keyframes
//
@keyframes in {
    from {
        max-width: 0px;
    }
    to {
        max-width: 250px;
    }
}

@-moz-keyframes in {
    from {
        max-width: 0px;
    }
    to {
        max-width: 250px;
    }
}

@-webkit-keyframes in {
    from {
        max-width: 0px;
    }
    to {
        max-width: 250px;
    }
}

@-o-keyframes in {
    from {
        max-width: 0px;
    }
    to {
        max-width: 250px;
    }
}

@-ms-keyframes in {
    from {
        max-width: 0px;
    }
    to {
        max-width: 250px;
    }
}

.in {
    -webkit-animation-name: in;
    animation-name: in;
}

//menu fly out keyframes
//
@keyframes out {
    from {
        max-width: 250px;
    }
    to {
        max-width: 40px;
    }
}

@-moz-keyframes out {
    from {
        max-width: 250px;
    }
    to {
        max-width: 40px;
    }
}

@-webkit-keyframes out {
    from {
        max-width: 250px;
    }
    to {
        max-width: 40px;
    }
}

@-o-keyframes out {
    from {
        max-width: 250px;
    }
    to {
        max-width: 40px;
    }
}

@-ms-keyframes out {
    from {
        max-width: 250px;
    }
    to {
        max-width: 40px;
    }
}

.out {
    -webkit-animation-name: out;
    animation-name: out;
}