.error-page {
    background: url('https://images.unsplash.com/photo-1520168133788-3c084821ec1f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1440&q=60') no-repeat center 20% / cover;
}

h4,h6,a {
    text-shadow: #000 2px 0px 4px;
    color: #FFF;
}