<div class="main-content">
<div class="row my-2">
    <div class="col-sm-12">
        <button class="btn-custom" backButton>Go Back</button><!-- Back button-->
    </div>
</div>
    <div *ngIf="dogs" class="container-fluid">
        <div class="row my-2">
            <div class="col-sm-12">
                <div class="card">
                    <div *ngIf="dogs.hasMedicalNeeds" class="card-header adoption-warning text-light text-outline-dark">
                        <p>This animal has special needs</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 d-inline-block text-left">
                                <p class="card-title name mr-2">{{dogs.name}}<i class="ml-1"
                                        [ngClass]="dogs.gender === 'Male' ? 'fas fa-mars':'fas fa-venus'"></i></p>
                                <p class='text-muted'>{{id}}</p>
                                <p>{{dogs.breed}}</p>
                                <p>{{formatAge(dogs.age)}}</p>
                            </div>
                            <div class="col-sm-12 my-2 text-center">
                                <img class="img-responsive img-thumbnail" src="{{dogs.image}}" width="400px" height="400px" alt="">
                            </div>
                            <div class="col-sm-12 my-2">
                                <h2>About {{dogs.name}}:</h2>
                                <p>{{dogs.description}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 my-2">
                                <h2>Traits:</h2>
                                <ul>
                                    <li *ngFor="let item of dogs.traits">{{item}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div *ngIf="dogs.hasMedicalNeeds" class="col-sm-12 my-2">
                                <h2>Health Issues:</h2>
                                <p>{{dogs.healthDesc}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 mb-2 text-right">
                                <p>Adoption Fee: {{dogs.adoptionFee | currency:'USD':'symbol':'1.2-2'}}</p>
                            </div>
                            <div class="col-sm-12 text-right">
                                <a routerLink="/adoption/{{dogs.name | lowercase}}-{{dogs.id}}"
                                    class="btn btn-custom w-auto">Apply for Adoption</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>