p {
    margin:0;
    padding: 0;
}

.name {
    color: #e29c62;
    font-weight: 700;
}

a {
    text-decoration: none;
}

.fas.fa-mars {
    color: #6767ff;
    font-size: 1.5em;
    text-shadow: #000 2px 0px 2px;
}

.fas.fa-venus {
    color: pink;
    font-size: 1.5em;
    text-shadow: #000 2px 0px 2px;
}

.adoption-warning {
    background-color: #4b8b7c;
    font-size: 1.5em;
    padding: .5em;
    text-align: center;
}

img {
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 400px;
}