<div class="container-fluid pt-4">
    <div class="row">
        <div class="col-sm-12 rounded shadow p-0 m-0">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h4 class="text-light text-outline-dark">Admin Control Panel</h4>
                </div>
                <div class="card-body my-4">                    
                    <h4 class="card-text">Analytics:</h4>
                    <hr class="w-100">
                    <!-- Start Analytics Component -->
                    <app-analytics></app-analytics>
                    <!-- End Analytics Component-->
                    <h4 class="card-text">Actions:</h4>
                    <hr class="w-100">
                    <div class="col-sm-auto">
                        <a class="btn-system btn-block mb-2 text-center" routerLink="../list">View Adoptables</a>
                        <a class="btn-system btn-block mb-2 text-center" routerLink="../new">Create New Adoptable</a>
                    </div>
                    <hr>
                    <div class="col-sm-auto">
                        <button class="btn-system btn-block mb-2" (click)="generateTestData()">Generate Test
                            Data</button>
                        <button class="btn-system btn-block mb-2" [ngClass]="purging ? 'pulse':null"
                            (mousedown)="start();" (mouseup)="stop();">
                            Purge Database
                        </button>
                        <h1 *ngIf="purging" class="text-center" [ngClass]="currTick<10 || currTick == 10 ? 'text-danger':null">{{currTick}}</h1>
                        <p class="text-left my-4">
                            Warning: Purging the database will delete all documents from the database.
                            This process can be started by holding the button for 30 seconds and stopped by releasing
                            the button.
                            Please note that this action is irreversible and that by starting this process you take all
                            responsibility for any damages incurred.
                        </p>
                    </div>
                    <div class="col-sm-12 text-center">
                        <button class="btn-system my-2 py-2 px-4" (click)="onSignOut()">Sign Out</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>