.pulse {
    transform: scale(1);
    animation: pulse .2s infinite;
    background-color: #ff0000 !important;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
}

.chart {
    box-shadow: 0 0 0 2px #bbbbbb, 0 0 10px #00000080 !important;
}