<app-header></app-header>
<div class="main-content">
    <div class="container-fluid">
        <div *ngIf="dogs; else notShown" class="row mt-4">
            <div class='col-sm-12'>
                <form class="form shadow border-form p-2" [formGroup]="dogAdoptionForm"
                    (ngSubmit)="dogAdoptionForm.valid && checkboxValidation() && onSubmit()">
                    <div formGroupName="adoptionData">
                        <!-- Letterhead -->
                        <div class="form-row">
                            <div class="col-sm-2">
                                <img src='../../../assets/logo.png' alt='' width='128px' height='128px'>
                            </div>
                            <div class="col-sm-4 letterhead">
                                <p>Pitbull Paradise</p>
                                <p>532 South Constitution St.</p>
                                <p>Lakeland, FL 33714</p>
                                <p>(863)555-5555</p>
                                <p>adoptions@pitbullparadise.org</p>
                            </div>
                            <div class="col-sm-6 align-self-end">
                                <div class="input-group">
                                    <label class="col-sm-6 form-label justify-content-end" for='dateOfApp'>Date of
                                        Application:</label>
                                    <input type="text" id="dateOfApp" formControlName="dateOfApp"
                                        class="form-control col-sm-auto" [value]="date | date:'MM/dd/yyyy'">
                                </div>
                                <div class="input-group">
                                    <label class="col-sm-6 form-label justify-content-end" for='timeOfApp'>Time of
                                        Application:</label>
                                    <input type='text' id='timeOfApp' formControlName="timeOfApp"
                                        class="form-control col-sm-auto" [value]="date | date:'shortTime'">
                                </div>
                                <div class="input-group">
                                    <label class="col-sm-6 form-label justify-content-end" for='dogsName'>Name of
                                        Dog:</label>
                                    <input type='text' id='dogsName' formControlName='dogsName'
                                        class="form-control col-sm-auto" value='dogs.name'>
                                </div>
                                <div class="input-group">
                                    <label class="col-sm-6 form-label justify-content-end" for='dogsID'>Dog ID:</label>
                                    <input type='text' id='dogsID' formControlName='dogsID'
                                        class="form-control col-sm-auto" value='dogs.id'>
                                </div>
                                <div class="input-group">
                                    <label class="col-sm-6 form-label justify-content-end" for='adoptionFee'>Adoption
                                        Fee:</label>
                                    <input type='text' id='adoptionFee' formControlName='adoptionFee'
                                        class="form-control col-sm-auto" value='dogs.adoptionFee'>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <h2 class='text-center'>Dog Adoption Application</h2>
                                <p>
                                    Please read this application, fill in the blanks, sign it, and submit it. The
                                    information that you provide in this applicaiton will be used to determine your
                                    eligilbility and if the selected pet will be a good fit for you. We will get back to
                                    you ASAP,
                                    If you do not hear from us within 7 business days please do not hesitate to contact
                                    us.
                                </p>
                            </div>
                        </div>
                        <!-- Personal Information -->
                        <hr>
                        <div class="form-row">
                            <h4 class="col-sm-12">Personal Information</h4>
                            <div class="col-sm-5">
                                <div class="input-group">
                                    <label for='firstName' class='col-sm-auto'>First Name:<span
                                            class="text-danger required">*</span></label>
                                    <input type="text" id="firstName" formControlName="firstName"
                                        class="form-control col-sm-auto">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="input-group">
                                    <label for='middleInitial' class='col-sm-auto'>MI:<span
                                            class="text-danger required">*</span></label>
                                    <input type="text" id="middleInitial" formControlName="middleInitial"
                                        class="form-control col-sm-auto">
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="input-group">
                                    <label for='lastName' class='col-sm-auto'>Last Name:<span
                                            class="text-danger required">*</span></label>
                                    <input type="text" id="lastName" formControlName="lastName"
                                        class="form-control col-sm-auto">
                                </div>
                            </div>
                        </div>
                        <div class="form-row my-4">
                            <div class="col-sm-12 mb-2">
                                <div class="input-group">
                                    <input type="text" id="currAddr" formControlName="currAddr"
                                        class="form-control col-sm-auto">
                                </div>
                                <p class='text-center'>Address (house #, street, city, state & zipcode)<span
                                        class="text-danger required">*</span></p>
                            </div>
                            <div class="col-sm-12 mb-2">
                                <div class="input-group">
                                    <label for='livedAtCurrAddrNum' class='col-sm-auto'>How long have you lived at the
                                        above
                                        address?:<span class="text-danger required">*</span></label>
                                    <input type="text" id="livedAtCurrAddrNum" formControlName="livedAtCurrAddrNum"
                                        class="form-control col-sm-1">
                                </div>
                            </div>
                            <div class="col-sm-12 mb-2">
                                <p class='pl-3 pt-2'>If less than five years, please provide your previous address:<span
                                        class="text-danger required">*</span></p>
                                <div class="input-group">
                                    <input type="text" id="prevAddr" formControlName="prevAddr"
                                        class="form-control col-sm-12">
                                </div>
                                <p class='text-center'>Previous Address (house #, street, city, state & zipcode)</p>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-sm-12 mb-2">
                                <div class="input-group">
                                    <label for='dayPhoneNum' class='col-sm-auto'>Daytime Phone #:<span
                                            class="text-danger required">*</span></label>
                                    <input type="text" id="dayPhoneNum" formControlName="dayPhoneNum"
                                        class="form-control col-sm-auto">
                                    <label for='dayPhoneBestTime' class='col-sm-auto'>Best Time to Call:<span
                                            class="text-danger required">*</span></label>
                                    <input type="text" id="dayPhoneBestTime" formControlName="dayPhoneBestTime"
                                        class="form-control col-sm-auto">
                                </div>
                                <div class="input-group">
                                    <label for='eveningPhoneNum' class='col-sm-auto'>Evening Phone #:<span
                                            class="text-danger required">*</span></label>
                                    <input type="text" id="eveningPhoneNum" formControlName="eveningPhoneNum"
                                        class="form-control col-sm-auto">
                                    <label for='eveningPhoneBestTime' class='col-sm-auto'>Best Time to Call:<span
                                            class="text-danger required">*</span></label>
                                    <input type="text" id="eveningPhoneBestTime" formControlName="eveningPhoneBestTime"
                                        class="form-control col-sm-auto">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-sm-12 mb-2">
                                <div class="input-group">
                                    <label for='emailAddr' class='col-sm-auto'>Email Address:<span
                                            class="text-danger required">*</span></label>
                                    <input type="text" id="emailAddr" formControlName="emailAddr"
                                        class="form-control col-sm-auto">
                                </div>
                            </div>
                            <div class="col-sm-12 mb-2">
                                <div class="input-group">
                                    <label for='occupation' class='col-sm-auto'>Occupation:<span
                                            class="text-danger required">*</span></label>
                                    <input type="text" id="occupation" formControlName="occupation"
                                        class="form-control col-sm-auto">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <!-- Housing Information -->
                        <div formGroupName="rentOrOwnChoices">
                            <div class="form-group row">
                                <h4 class="col-sm-12">Housing Information</h4>
                                <small class="col-sm-12 mb-2">(Select all that apply.)</small>
                                <label class="col-md-auto control-label" for="checkboxes">Do you rent or own? <span
                                        class="text-danger required">*</span></label>
                                <div class="col-md-4">
                                    <label class="checkbox-inline" for="rentOrOwnC1">
                                        <input type="checkbox" formControlName="rentOrOwnC1" id="rentOrOwnC1"
                                            value="rent">
                                        Rent
                                    </label>
                                    <label class="checkbox-inline" for="rentOrOwnC2">
                                        <input type="checkbox" formControlName="rentOrOwnC2" id="rentOrOwnC2"
                                            value="own">
                                        Own
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div formGroupName="typeOfHomeChoices">
                            <div class="form-group row">
                                <label class="col-md-auto control-label" for="checkboxes">Type of Home? <span
                                        class="text-danger required">*</span></label>
                                <div class="col-md-4">
                                    <label class="checkbox-inline" for="typeOfHomeC1">
                                        <input type="checkbox" formControlName="typeOfHomeC1" id="typeOfHomeC1"
                                            value="apartment">
                                        Apartment
                                    </label>
                                    <label class="checkbox-inline" for="typeOfHomeC2">
                                        <input type="checkbox" formControlName="typeOfHomeC2" id="typeOfHomeC2"
                                            value="condo">
                                        Condo
                                    </label>
                                    <label class="checkbox-inline" for="typeOfHomeC3">
                                        <input type="checkbox" formControlName="typeOfHomeC3" id="typeOfHomeC3"
                                            value="house">
                                        House
                                    </label>
                                    <label class="checkbox-inline" for="typeOfHomeC4">
                                        <input type="checkbox" formControlName="typeOfHomeC4" id="typeOfHomeC4"
                                            value="mobile">
                                        Mobile
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div formGroupName="hasYardChoices">
                            <div class="form-group row">
                                <label for="checkboxes" class="col-md-auto control-label">Does your home have a fenced
                                    yard?<span class="text-danger required">*</span></label>
                                <div class="col-md-4">
                                    <label class="checkbox-inline" for="hasYardC1">
                                        <input type="checkbox" formControlName="hasYardC1" id="hasYardC1" value="no">
                                        No
                                    </label>
                                    <label class="checkbox-inline" for="hasYardC2">
                                        <input type="checkbox" formControlName="hasYardC2" id="hasYardC2" value="yes">
                                        Yes
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div [ngClass]="!dogAdoptionForm.get('adoptionData.rentOrOwnChoices.rentOrOwnC1').value ? 'd-none' : 'd-inline'"
                            class="form-group row">
                            <div class="col-sm-12 border rounded py-4">
                                <label class='col-sm-12'>If you rent, please provide your landlords contact
                                    information.</label>
                                <input type="text" id="landlordContactInfo" formControlName="landlordContactInfo"
                                    class="form-control col-sm-12">
                                <p class='text-center'>Landlord Contact Info(name, phone)<span
                                        class="text-danger required">*</span></p>
                            </div>
                        </div>
                        <hr>
                        <!-- Veternarian Information -->
                        <div class="form-group">
                            <h4 class="col-sm-12">Veternarian Information</h4>
                            <div class="col-md-12">
                                <div class="input-group">
                                    <label class="col-md-12 control-label text-center">
                                        <input id="vetFullName" formControlName="vetFullName" class="form-control"
                                            type="text">
                                        Name (first, mi, last)<span class="text-danger required">*</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="input-group">
                                    <label class="col-md-12 control-label text-center">
                                        <input id="vetPhone" formControlName="vetPhone" class="form-control"
                                            type="text">
                                        Phone #<span class="text-danger required">*</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="input-group">
                                    <label class="col-md-12 control-label text-center">
                                        <input id="vetAddr" formControlName="vetAddr" class="form-control" type="text">
                                        Address (#, street, city, state & zipcode)<span
                                            class="text-danger required">*</span>
                                    </label>
                                </div>
                            </div>
                            <div formGroupName="prevVetChoices">
                                <div class="form-group row">
                                    <label class="col-md-auto control-label" for="checkboxes">Have you previously used
                                        this
                                        veternarian?<span class="text-danger required">*</span></label>
                                    <div class="col-md-6">
                                        <label class="checkbox-inline" for="prevVetC1">
                                            <input type="checkbox" formControlName="prevVetC1" id="prevVetC1"
                                                value="no">
                                            No
                                        </label>
                                        <label class="checkbox-inline" for="prevVetC2">
                                            <input type="checkbox" formControlName="prevVetC2" id="prevVetC2"
                                                value="yes">
                                            Yes
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <!-- Questionnaire -->
                        <div formGroupName="whyAdoptChoices">
                            <div class="form-group row">
                                <h4 class="col-sm-12">Questionnaire</h4>
                                <small class="col-sm-12 mb-2">(Select all that apply.)</small>
                                <label class="col-md-auto control-label" for="checkboxes">Why are you considering
                                    adoption
                                    at this time?<span class="text-danger required">*</span></label>
                                <div class="col-md-6">
                                    <label class="checkbox-inline" for="whyAdoptC1">
                                        <input type="checkbox" formControlName="whyAdoptC1" id="whyAdoptC1"
                                            value="companionForPet">
                                        Companion for pet
                                    </label>
                                    <label class="checkbox-inline" for="whyAdoptC2">
                                        <input type="checkbox" formControlName="whyAdoptC2" id="whyAdoptC2"
                                            value="companionForChild">
                                        Companion for child
                                    </label>
                                    <label class="checkbox-inline" for="whyAdoptC3">
                                        <input type="checkbox" formControlName="whyAdoptC3" id="whyAdoptC3"
                                            value="companionForSelf">
                                        Companion for self
                                    </label>
                                    <label class="checkbox-inline" for="whyAdoptC4">
                                        <input type="checkbox" formControlName="whyAdoptC4" id="whyAdoptC4"
                                            value="securityDog">
                                        Security Dog
                                    </label>
                                    <label class="checkbox-inline" for="whyAdoptC5">
                                        <input type="checkbox" formControlName="whyAdoptC5" id="whyAdoptC5"
                                            value="workingDog">
                                        Working Dog
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div formGroupName="pitbullCharcsChoices">
                            <div class="form-group row">
                                <label class='col-md-auto control-label' for="checkboxes">Are you familar with the
                                    characteristics of pitbull type breeds?<span
                                        class="text-danger required">*</span></label>
                                <div class="col-md-4">
                                    <label class="checkbox-inline" for="pitbullCharcsC1">
                                        <input type="checkbox" formControlName="pitbullCharcsC1" id="pitbullCharcsC1"
                                            value="no">
                                        No
                                    </label>
                                    <label class="checkbox-inline" for="pitbullCharcsC2">
                                        <input type="checkbox" formControlName="pitbullCharcsC2" id="pitbullCharcsC2"
                                            value="yes">
                                        Yes
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div formGroupName="prevPitbullOwnerChoices">
                            <div class="form-group row">
                                <label class='col-md-auto control-label' for="checkboxes">Do you have any experience
                                    with
                                    pitbulll type breeds?<span class="text-danger required">*</span></label>
                                <div class="col-md-4">
                                    <label class="checkbox-inline" for="prevPitbullOwnerC1">
                                        <input type="checkbox" formControlName="prevPitbullOwnerC1"
                                            id="prevPitbullOwnerC1" value="no">
                                        No
                                    </label>
                                    <label class="checkbox-inline" for="prevPitbullOwnerC2">
                                        <input type="checkbox" formControlName="prevPitbullOwnerC2"
                                            id="prevPitbullOwnerC2" value="yes">
                                        Yes
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-auto control-label" for="petHoursAlone">
                                How many hours will your adopted pet spend alone?<span
                                    class="text-danger required">*</span></label>
                            <div class="col-md-1">
                                <input id="petHoursAlone" formControlName="petHoursAlone" type="text"
                                    class="form-control input-xs">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-12 control-label" for="behaviourRes">
                                How would you deal with behavioral issues such as barking, chewing, destructive
                                behavior,
                                bathroom accidents indoors, unruly leash behaviors in your pet?<span
                                    class="text-danger required">*</span>
                            </label>
                            <div class="col-md-12">
                                <textarea class="form-control" id="behaviourRes" formControlName="behaviourRes"
                                    cols="30" rows="10"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-auto control-label" for="numPets">
                                How many pets do you currently own?<span class="text-danger required">*</span></label>
                            <div class="col-md-1">
                                <input id="numPets" formControlName="numPets" type="text" class="form-control input-xs">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-12 control-label" for="petAgeList">
                                If you have any other pets in your home please list them below.
                            </label>
                            <div class="col-md-12">
                                <textarea class="form-control" id="petAgeList" placeholder=""
                                    formControlName="petAgeList" cols="30" rows="10"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-auto control-label" for="numChildren">
                                How many children live at your current address?<span
                                    class="text-danger required">*</span></label>
                            <div class="col-md-1">
                                <input id="numChildren" formControlName="numChildren" type="text"
                                    class="form-control input-xs">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-12 control-label" for="childrenAgeList">
                                If you have any children in your home please list their ages below.
                            </label>
                            <div class="col-md-12">
                                <textarea class="form-control" id="childrenAgeList" placeholder=""
                                    formControlName="childrenAgeList" cols="30" rows="10"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-auto control-label" for="numAdults">
                                How many adults live at your current address?<span
                                    class="text-danger required">*</span></label>
                            <div class="col-md-1">
                                <input id="numAdults" formControlName="numAdults" type="text"
                                    class="form-control input-xs">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-12 control-label" for="adultsAgeList">
                                If there are any adults besides yourself living at your current address please list
                                their ages below.
                            </label>
                            <div class="col-md-12">
                                <textarea class="form-control" id="adultsAgeList" placeholder=""
                                    formControlName="adultsAgeList" cols="30" rows="10"></textarea>
                            </div>
                        </div>
                        <div formGroupName="allAgreeToAdoptionChoices">
                            <div class="form-group row">
                                <label class='col-md-8 control-label' for="checkboxes">Does everyone living at your
                                    current address (including children and adults) agree with adopting a new pet?<span
                                        class="text-danger required">*</span></label>
                                <div class="col-md-auto">
                                    <label class="checkbox-inline" for="allAgreeToAdoptionC1">
                                        <input type="checkbox" formControlName="allAgreeToAdoptionC1"
                                            id="allAgreeToAdoptionC1" value="no">
                                        No
                                    </label>
                                    <label class="checkbox-inline" for="allAgreeToAdoptionC2">
                                        <input type="checkbox" formControlName="allAgreeToAdoptionC2"
                                            id="allAgreeToAdoptionC2" value="yes">
                                        Yes
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div formGroupName="criminalChoices">
                            <div class="form-group row">
                                <label class='col-md-8 control-label' for="checkboxes">Have you or anyone living with
                                    you
                                    with ever been convicted of a violent crime?<span
                                        class="text-danger required">*</span></label>
                                <div class="col-md-auto">
                                    <label class="checkbox-inline" for="criminalC1">
                                        <input type="checkbox" formControlName="criminalC1" id="criminalC1" value="no">
                                        No
                                    </label>
                                    <label class="checkbox-inline" for="criminalC2">
                                        <input type="checkbox" formControlName="criminalC2" id="criminalC2" value="yes">
                                        Yes
                                    </label>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <!-- Legal Information -->
                        <div class="form-row">
                            <div class="col-sm-12">
                                <h4 class="text-center">Terms & Conditions</h4>
                                <ul>
                                    <li>
                                        By submitting this form, I agree to Pitbull Paradise Inc. adoption
                                        process, will undergo a homecheck, and interview at the discretion of
                                        Pitbull
                                        Paradise Inc.
                                    </li>
                                    <li>
                                        By submitting this form, I understand Pitbull Paradise Inc. will
                                        check
                                        my references.
                                    </li>
                                    <li>
                                        By submitting this form, I understand there is an adoption fee
                                        associated
                                        with adoption of a pet from Pitbull Paradise Inc. and that it is tax
                                        deductible according to IRS 501(c)3 guidelines. I understand this fee
                                        will
                                        ensure the organization is equipped to rescue another homeless pet.
                                    </li>
                                    <li>
                                        By submitting this form, I understand there is no "cooling off"
                                        period, and that if I no longer want or can no longer care for my adopted pet, I
                                        agree to notify Pitbull Paradise Inc. BY EMAIL and provide a 14 day period to
                                        allow
                                        Pitbull Paradise Inc. to make arrangents for my pet to be taken back into
                                        rescue.
                                    </li>
                                    <li>
                                        By submitting this form, I agree that there is a 14 day period
                                        to make arrangements to have your adopted pet checked out by the
                                        veternarian which was provided on your application.
                                    </li>
                                    <li>
                                        By submitting this form, I agree to indemnify and hold harmless
                                        Pitbull Paradise Inc. against any losses, lawsuits, claims, injury, damages
                                        incurred by me or any persons or property by my adopted pet, once adoption has
                                        been
                                        completed.
                                    </li>
                                    <li>
                                        By submitting this form, I understand that Pitbull Paradise Inc..
                                        will disclose any of the pet's health or behavior issues known by the above
                                        named rescue group before adoption is completed.
                                    </li>
                                    <li>
                                        By submitting this form, I understand that if I no longer want my
                                        pet, or am no longer able to care for my adopted pet, I will be directed to
                                        surrender my pet to Pitbull Paradise Inc. and provide transport to where Pitbull
                                        Paradise
                                        Inc. deems appropriate.
                                    </li>
                                    <li>
                                        By submitting this form, I verify all of the above information is true and
                                        accurate. If I knowingly provide falsified information, I understand that I will
                                        be banned
                                        from adopting animals from Pitbull Paradise Inc. and I give consent for Pitbull
                                        Paradise Inc.
                                        to contact and share my information with other animal resuces and contact law
                                        enforcement if
                                        deemed necessary.
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Adoptee Signature -->
                        <div class="form-row">
                            <div class="col-sm-12 my-4">
                                <div class="form-inline input-group">
                                    <label for='signature' class='col-sm-auto'>Adoptee Signature:</label>
                                    <input type="text" id="signature" formControlName="signature"
                                        class="form-control col-sm-auto">
                                </div>
                            </div>
                        </div>
                        <!-- Office Use -->
                        <div class="form-group row">
                            <div class="col-sm-12 p-4 my-4 border-dashed">
                                <h5 class="col-sm-12 text-left mb-2">Office Use Only</h5>
                                <div class="form-inline my-4 input-group">
                                    <label for='reviewer' class='col-sm-auto'>Reviewer Signature:</label>
                                    <input type="text" id="reviewer" formControlName="reviewer"
                                        class="form-control col-sm-auto">
                                </div>
                            </div>
                        </div>
                        <div formGroupName="statusChoices">
                            <div class="form-group row my-4 input-group">
                                <label class='col-sm-auto'>Application Status:</label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="statusC1" value="rejected"
                                        formControlName="statusC1">
                                    <label class="form-check-label" for="statusC1">Rejected</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="statusC2" value="approved"
                                        formControlName="statusC2">
                                    <label class="form-check-label" for="statusC2">Approved</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="rejRes" class='col-sm-12 justify-content-start'>Notes:</label>
                            <div class="col-sm-12 mb-4 input-group justify-content-start">
                                <textarea formControlName="rejRes" id="rejRes" cols="30" rows="20"
                                    formControlName="rejRes" class="form-control py-2"> </textarea>
                            </div>
                        </div>
                        <div *ngIf="!dogAdoptionForm.valid" class="form-group row">
                            <div class="col-sm-12 alert alert-danger">
                                <p>One or more fields must be filled out.</p>
                            </div>
                        </div>
                        <div *ngIf="formErrors" class="form-group row">
                            <div class="col-sm-12 alert alert-danger">
                                <p>{{formErrors}}</p>
                            </div>
                        </div>
                        <!-- Submit Form-->
                        <div class="form-row">
                            <div class="col-sm-12 text-center my-4">
                                <button [attr.disabled]="!dogAdoptionForm.valid ? true:null" class="btn btn-custom"
                                    type="submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <ng-template #notShown>
            <div class="col-sm-12 text-center d-flex flex-column justify-content-center align-items-center vh-100">
                <p class="my-2">bad params</p>
                <a class="btn btn-custom" routerLink="/search">View our available companions</a>
            </div>
        </ng-template>
    </div>
</div>
<app-footer></app-footer>