a {
    color: #4b8b7c !important;
    text-decoration: none;
    margin-right: 1em;
}

a:hover {
    color: #e29c62 !important;
    text-decoration: none;
    border-radius: 1px;
    box-shadow: 0 0 0 2px #4b8b7c;
}

.sidebar-container {
    min-width: 100% !important;
    border-right: 2px solid #505050 !important;
    border-bottom-right-radius: 6px !important;
}

hr {
    padding: 2px;
    margin: 0;
    width:100%;
    border:0;
    border-bottom: 1px solid #5c5c5c !important;
}

.navbar-toggler {
    border: 0;
    border-radius: 0;
    padding: 4px;
    margin: 0;
}

.navbar-toggler:active, .navbar-toggler:focus {
    outline: none !important;
    box-shadow: none;
}

.fas.fa-arrow-up,
.fas.fa-arrow-down {
    color: #5c5c5c;
}

.fas.fa-arrow-up:hover,
.fas.fa-arrow-down:hover {
    color: #4b8b7c;
}
