a {
    color: #4b8b7c !important;
    text-decoration: none;
    margin-right: 1em;
    border-bottom: 1px solid #5c5c5c !important;
}

a:hover {
    text-decoration: none;
    background-color: #5c5c5c;
}

a.active {
    background-color: #5c5c5c80;
}

.sidebar-container {
    min-width: 100% !important;
    border-right: 2px solid #5c5c5c !important;
    border-bottom-right-radius: 6px !important;
}

hr {
    padding: 2px;
    margin: 0;
    width:100%;
    border:0;
    border-bottom: 1px solid #5c5c5c !important;
}

.navbar-toggler {
    border: 0;
    border-radius: 0;
    padding: 4px;
    margin: 0;
}

.navbar-toggler:active, .navbar-toggler:focus {
    outline: none !important;
    box-shadow: none;
}

.brand {
    border-bottom: 1px solid #5c5c5c !important;
}

.fas.fa-arrow-up,
.fas.fa-arrow-down {
    color: #5c5c5c;
}

.fas.fa-arrow-up:hover,
.fas.fa-arrow-down:hover {
    color: #4b8b7c;
}

.btn-sign-out {
    text-align: left;
    background-color: transparent;
    border: none;
    color: #4b8b7c !important;
    border-bottom: 1px solid #5c5c5c !important;  
}

.btn-sign-out:hover {
    background-color: #5c5c5c;
}
