<div *ngIf="showNav" class="container sidebar-container shadow h-100 bg-dark">
    <nav class="sidebar overflow-hidden">
        <div [ngbCollapse]="isCollapsed" class="collapse navbar-collapse" id="collapsible">
            <ul class="list-unstyled">
                <li class="brand list-item">
                    <h5 class="text-white py-2 text-center">Pitbull Paradise</h5>
                    <h6 class="text-white py-2 text-center">Administrator</h6>
                </li>
                <li class="nav-item">
                    <a class="nav-link m-0" routerLink="/admin/dashboard/analytics" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link m-0" routerLink="/admin/dashboard/list" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">Manage Adoptables</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link m-0" routerLink="/admin/dashboard/new" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">Create Adoptable</a>
                </li>
                <li class="nav-item">
                    <button class="nav-link m-0 btn-block btn-sign-out" (click)="signOut()">Sign out
                        <span><i class="fas fa-arrow-right"></i>
                        </span>
                    </button>
                </li>
            </ul>
        </div>
    </nav>
    <div class="row d-sm-inline d-md-none">
        <div class="col-sm-12 text-center p-0 pt-1">
            <button class="navbar-toggler btn btn-block" type="button" (click)="isCollapsed = !isCollapsed"
                aria-controls="navbarSupportedContent" [attr.aria-expanded]="!isCollapsed"
                aria-label="Toggle navigation">
                <span>
                    <i [ngClass]="isCollapsed ? 'fas fa-arrow-down':'fas fa-arrow-up'"></i>
                </span>
            </button>
        </div>
    </div>
</div>