<div class="container-fluid">
    <div class="row">      
        <div class="col-sm-12" [ngStyle]="{background: 'url(' + imageUrl + ') no-repeat center / cover'}">    
            <div class="col-sm-8 ml-auto mr-auto mt-5 text-left mb-2">
                <h1>{{message}}</h1>
                <a class="btn btn-custom shadow" routerLink="{{link}}">{{linkText}}</a>
            </div> 
            <div class="col-sm-12 align-self-center text-center">                
                <button 
                *ngFor="let ad of adDict; let i = index"
                [ngClass]="index == i ? 'fas fa-dot-circle': 'far fa-circle'" 
                class="btn rounded" 
                (click)="getKeyValue(i);">
            </button>
            </div>
        </div>
    </div>
</div>